{% extends 'base.html' %}

{% block main_block %}
  <form action="/pick" method="post">
    <select name="event1" id="event1">
      {% for event in events %}
        <option value="{{event.url}}">{{event.description}}</option>
      {% endfor %}
    </select>

    <select name="event2" id="event2">
      {% for event in events %}
        <option value="{{event.url}}">{{event.description}}</option>
      {% endfor %}
    </select>

    <input name="event-date" id="event-date" type="datetime-local">

    <input type="submit" value="Make Timeghost"/>
  </form>
{% endblock %}

{% block sidebar_block %}
{% endblock %}

