{% extends 'base.html' %}

{% block headline_block %}
  <h1>Encouraging Notes From Our Beloved Readers</h1>
{% endblock %}

{% block main_block %}
  These things always fuck me up</p>&mdash; Dan Saltzstein (@dansaltzstein) <a href="https://twitter.com/dansaltzstein/status/1324458671041138689?ref_src=twsrc%5Etfw">November 5, 2020</a> <hr/>
  Damn you Time Ghost <a href="https://t.co/43lwbmlPqI">https://t.co/43lwbmlPqI</a></p>&mdash; iucounu (@iucounu) <a href="https://twitter.com/iucounu/status/1195013353124646913?ref_src=twsrc%5Etfw">November 14, 2019</a><hr/>
  DAMN YOU, TIME GHOST!!! *shakes fist* <a href="https://t.co/wHhRf37cxQ">https://t.co/wHhRf37cxQ</a></p>&mdash; A.G. Pasquella (@agpasquella) <a href="https://twitter.com/agpasquella/status/1046887080956030978?ref_src=twsrc%5Etfw">October 1, 2018</a><hr/>
  You&#39;re the worst Time Ghost.</p>&mdash; Darin Harvey (@Darin1981) <a href="https://twitter.com/Darin1981/status/1011566710623793152?ref_src=twsrc%5Etfw">June 26, 2018</a><hr/>
  get fucked timeghost <a href="https://t.co/UF2hh3Ef5Q">https://t.co/UF2hh3Ef5Q</a></p>&mdash; Gerry Canavan (@gerrycanavan) <a href="https://twitter.com/gerrycanavan/status/1002932010447405056?ref_src=twsrc%5Etfw">June 2, 2018</a><hr/>
  Oh God... WHO WOULD DO THIS!? <a href="https://t.co/uQaxeiAXKi">https://t.co/uQaxeiAXKi</a></p>&mdash; Michael Letterle (@mletterle) <a href="https://twitter.com/mletterle/status/876598921879052288">June 19, 2017</a><hr/>
  <img src="/static/img/monster.png"/><hr/>
  <a href="https://twitter.com/timeghost_app">@timeghost_app</a> DAMN YOU!!!</p>&mdash; Denise Simard (@LeaveIttoDee) <a href="https://twitter.com/LeaveIttoDee/status/751230888311074821">July 8, 2016</a><hr/>
  Argh. <a href="https://t.co/n2o1nbGtTD">https://t.co/n2o1nbGtTD</a></p>&mdash; Sven Aas (@SvenAas) <a href="https://twitter.com/SvenAas/status/742793832882962432">June 14, 2016</a><hr/>
  <a href="https://twitter.com/timeghost_app">@timeghost_app</a> OMG.</p>&mdash; (((Ceil))) (@askceil) <a href="https://twitter.com/askceil/status/742526345767440384">June 14, 2016</a><hr/>
  <a href="https://twitter.com/timeghost_app">@timeghost_app</a> I die a little each time you post.</p>&mdash; Denise Simard (@LeaveIttoDee) <a href="https://twitter.com/LeaveIttoDee/status/742256720047529984">June 13, 2016</a><hr/>
  <img src="/static/img/rave3.jpg" width="50%"/><hr/>
  <a href="https://twitter.com/timeghost_app">@timeghost_app</a> <a href="https://twitter.com/kesterallen">@kesterallen</a> This is terrible please stop I can feel myself dying.</p>&mdash; Ceil (@askceil) <a href="https://twitter.com/askceil/status/651471489091411968">October 6, 2015</a><hr/>
  <img src="/static/img/rave2.jpg"/><hr/>
  <a href="https://twitter.com/kesterallen">@kesterallen</a> YOU ARE FREAKING ME OUT</p>&mdash; Ethan Hein (@ethanhein) <a href="https://twitter.com/ethanhein/status/635192936444071937">August 22, 2015</a><hr/>
  <img src="/static/img/rave1.jpg"/><hr/>
  .<a href="https://twitter.com/timeghost_app">@timeghost_app</a> Gah!</p>&mdash; Sven Aas (@SvenAas) <a href="https://twitter.com/SvenAas/status/638807023702933504">September 1, 2015</a>
{% endblock %}

{% block sidebar_block %}
  <a href="https://twitter.com/Green_Windmill/status/1104500393009139713">"A consistent kick in the nuts"</a> -- <a href="https://twitter.com/Green_Windmill">@Green_Windmill"</a><hr/>
  thanks! I hate it</p>&mdash; DSA chaos dragon working group (@doktorpaine) <a href="https://twitter.com/doktorpaine/status/999714525002678272?ref_src=twsrc%5Etfw">May 24, 2018</a><hr/>
  Screw you <a href="https://twitter.com/timeghost_app?ref_src=twsrc%5Etfw">@timeghost_app</a> <a href="https://t.co/biwYCAP05L">https://t.co/biwYCAP05L</a></p>&mdash; 🌈 (@kjellthomas) <a href="https://twitter.com/kjellthomas/status/933581955584503809?ref_src=twsrc%5Etfw">November 23, 2017</a><hr/>
  I hate you but sure.</p>&mdash; 🌈 (@kjellthomas) <a href="https://twitter.com/kjellthomas/status/933583058636234753?ref_src=twsrc%5Etfw">November 23, 2017</a><hr/>
  <a href="https://twitter.com/timeghost_app">@timeghost_app</a> Oh God.</p>&mdash; Thundercloud Fatale (@CloudLilac) <a href="https://twitter.com/CloudLilac/status/649026902020227072">September 30, 2015</a><hr/>
  <a href="https://twitter.com/timeghost_app">@timeghost_app</a> noooooooooooooooooooooooooo</p>&mdash; Thundercloud Fatale (@CloudLilac) <a href="https://twitter.com/CloudLilac/status/657655046453264385">October 23, 2015</a><hr/>
  Damn you Time Ghost, this one hurt.</p>&mdash; Darin Harvey (@Darin1981) <a href="https://twitter.com/Darin1981/status/1406397951702978564?ref_src=twsrc%5Etfw">June 19, 2021</a>
{% endblock %}

