{% extends 'base.html' %}

{% block main_block %}
  {% if details %}
    {{details}}<br>
  {% endif %}

  {% if timeghost %}
    {{timeghost.factoid}}<br>
    <br>
    <a title="{{timeghost.verbose_factoid}}" href="{{timeghost.permalink_url}}">Permalink</a><br>
  {% endif %}
  <hr>
  {% if timeghost %}
    <a href="/worst/{{timeghost.middle.url}}">Worst-case version of this Timeghost</a><br>
    <a href="/random/{{timeghost.middle.url}}">Random version of this Timeghost</a><br>
  {% endif %}
  <a href="/worst/random">Worst-case random Timeghost</a><br>
  <a href="/random/random">Random random Timeghost</a><br>
{% endblock %}

{% block sidebar_block %}
    {{timeghost.verbose_factoid}}
    <hr>
    This start of this timeghost's haunting was {{timeghost.start_of_haunting.strftime('%-d %B, %Y')}}.
{% endblock %}
